.contato1 {
    flex: 1;
    background-color: #ff6c6c;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.box-contato1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #eeeeee;
    font-size: 2.0rem;
}

.box-contato1 h2 {
    font-size: 4.0rem;
    color: #e7e7e7;
    padding-bottom: 10px;
}

.box-contato1 a {
    text-decoration: none;
    color: #eeeeee;
}
